<p id="notice"><%= notice %></p>

<h1>Listing Bids</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>My Bid</th>
      <th>Current Price</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% if @bids %>
      <% @bids.each do |bid| %>
        <tr>
          <td><%= link_to bid.auction.title, auction_path(bid.auction) %></td>
          <td><%= bid.price %></td>
          <td><%= bid.auction.current_price %></td>
          <td><%= bid.auction.end_date %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
