<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @bid.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user.first_name %>
</p>

<p>
  <strong>Auction:</strong>
  <%= @bid.auction.title %>
</p>

<%= link_to "Return", auctions_path, {:class=>"btn btn-default"} %>
