<p id="notice"><%= notice %></p>

<h1>Listing Auctions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>End Date</th>
      <th>Highest Bid</th>
      <th>Reserve Price</th>
    </tr>
  </thead>
  <tbody>
    <% if @auctions %>
      <% @auctions.each do |auction| %>
        <tr>
          <td><%= auction.title %></td>
          <td><%= auction.details %></td>
          <td><%= auction.end_date %></td>
          <td><%= auction.current_price %></td>
          <% if current_user[:id] == auction.user_id %>
            <td><%= auction.reserve_price %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if current_user[:id] != auction.user_id %>
            <td><%= link_to fa_icon('hand-paper-o'), auction_path(auction, place_bid: true) %></td>
          <% else %>
          <td><%= link_to fa_icon('eye'), auction %></td>
          <% end %>
          <% if current_user[:id] == auction.user_id && auction.bids.count == 0%>
            <td><%= link_to fa_icon('pencil'), edit_auction_path(auction) %></td>
            <td><%= link_to fa_icon('trash'), auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td><%= link_to fa_icon('eye'), auction %></td>
            <td><%= fa_icon('lock') %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
