<h1>Listing Auctions</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Seller</th>
      <th>End Date</th>
      <th>Current Price</th>
      <th>Reserve Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @auctions %>
      <% @auctions.each do |auction| %>
        <tr>
          <td><%= auction.title %></td>
          <td><%= truncate(auction.details) %></td>
          <td><%= auction.user.first_name %></td>
          <td><%= auction.end_date.to_date %></td>
          <td><%= auction.current_price %></td>
          <% if session[:user_id] == auction.user_id %>
            <td><%= auction.reserve_price %></td>
          <% else %>
            <td><%= fa_icon('question') %></td>
          <% end %>
          <td>
            <% if session[:user_id] && session[:user_id] != auction.user_id %>
              <%= link_to fa_icon('hand-paper-o'), auction_path(auction, place_bid: true) %>
            <% end %>
            <% if session[:user_id] == auction.user_id && auction.bids.count == 0%>
              <%= link_to fa_icon('pencil'), edit_auction_path(auction) %>
              <%= link_to fa_icon('trash'), auction, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= link_to fa_icon('eye'), auction %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
